body{
    background-color:bisque;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:18px;
}

header, footer{
    background-color:whitesmoke;
}

h1 {
    color:brown;
}

#my-image{
    font-weight: bold;
    font-size: 20px;
    box-shadow: 0px 2px 1px black;
    color:black;
}

ul {
    list-style-type: square;
  }

li:nth-child(2n-1){
    background-color:chocolate;
}

a:link, :visited{
    color:black;
    background-color:white;
    text-decoration: none;
    border: 12px black;
}
  
a:hover {
    background-color:teal;
    text-decoration: none;
}